:root {
  --navcol:#243447;
  --uicol: #1b2836;
  --bgcol:#141d26;
  --nav-height:50px;
  --uisize:570px;
}

html, body {
  margin:0;
  height:100%;
  overflow:auto;
  font-family:"Arial";
  background:var(--bgcol);
}

a,
a:hover,
a:active {
  text-decoration:none;
}

button,
input {
  outline:0;
}

.mj-nav {
  height:var(--nav-height);
}

#main {
  position:relative;
  top:var(--nav-height);
  height:calc(100vh - var(--nav-height));
  /*overflow:scroll; XXX*/
  /* overflow-x:hidden; */
  /* overflow-y:hidden; */
}

.rn-followers-backnav,
.mj-nav {
  background:var(--navcol);
}

.rn-main-news,
.rn-tweet {
  width:var(--uisize);
  position:relative;
}

.rn-tweet,
.rn-tweet-commat,
.rn-account-info,
.rn-account-tweets-nav,
.rn-account-tweets-mat-item,
.rn-account-settings,
.rn-followers,
.rn-nfp {
  background:var(--uicol);
}

.rn-followers-split {
  background:var(--bgcol);
}

.rn-account-controls-avatar {
  border:3px solid var(--uicol);
}

.sett_upload_hidden {
  display:none;
  opacity:0;
  visibility:hidden;
}