:root {
  --iohud:rgba(255, 255, 255, .5);
  --tweetpadd:15px;
}

.rn-tweet {
  margin-top:25px;
  padding:var(--tweetpadd);
  border-radius:5px;
  height:auto;
  width:570px;
  max-width:calc(100% - var(--tweetpadd) * 2);
  display:flex;
  flex-direction:column;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

.rn-tweet-creator {
  color:white;
  display:flex;
  justify-content:space-between;
}

.rn-tweet-creator-bx {
  display:flex;
  align-items:center;
}

.rn-tweet-creator-mg {
  height:50px;
  width:50px;
  border-radius:50%;
  object-fit:cover;
  object-position:center;
  margin-right:7.5px;
}

.rn-tweet-creator-info {
  display:flex;
  flex-direction:column;
  justify-content:center;
  font-family:"Quicksand";
}

.rn-tweet-creator-info > * {
  margin-top:1px;
  margin-bottom:1px;
}

.rn-tweet-creator-info-name {
  font-weight:400;
  color:rgba(255, 255, 255, .95);
}

.rn-tweet-creator-info-url {
  font-weight:200;
  color:rgba(255, 255, 255, .5);
  font-size:.85em;
}

.rn-tweet-creator-follow {
  --color:#34a1f2;

  height:32.5px;
  width:105px; /* XXX: must be expressed in padding */
  border-radius:45px;
  background:transparent;
  color:var(--color);
  border:none;
  font-family:"Roboto";
  font-weight:600;
  outline:0;
  font-size:1em;
  line-height:30px;
  cursor:pointer;
  -webkit-font-smoothing:antialiased;
  transition:.4s;
}

.rn-tweet-creator-follow:not(.active):hover {
  transition:.2s;
  background:rgba(52, 161, 242, .1);
}

.rn-tweet-creator-follow.active {
  background:#34a1f2;
  color:white;
}

.rn-tweet-creator-follow.active:hover {
  background:rgb(194, 27, 27);
}

.rn-tweet-content {
  font-family:"Quicksand";
  font-weight:300;
  color:white;
  font-size:1.4em;
  margin-top:15px;
  margin-bottom:15px;
}

.rn-tweet-date {
  color:var(--iohud);
  font-family:"Quicksand";
  font-weight:400;
  margin-bottom:5px;
}

.rn-tweet-date > * {
  margin-left:2.5px;
  margin-right:2.5px;
}

.rn-tweet-date > *:first-child,
.rn-tweet-stat > *:first-child,
.rn-tweet-comments-comment-content-cri-inf > *:first-child {
  margin-left:0;
}

.rn-tweet-date > *:last-child,
.rn-tweet-stat > *:last-child,
.rn-tweet-comments-comment-content-cri-inf > *:last-child {
  margin-right:0;
}

.rn-tweet-brdt {
  width:100%;
  height:2px;
  border-radius:1px;
  opacity:.5;
  margin-top:10px;
  margin-bottom:10px;
}

.rn-tweet-brdt.big {
  margin-bottom:5px;
  width:calc(100% + var(--tweetpadd) * 2);
  position:relative;
  right:var(--tweetpadd);
}

.rn-tweet-stat {
  display:flex;
}

.rn-tweet-stat > * {
  margin-left:10px;
  margin-right:10px;
}

.rn-tweet-stat-ret {
  display:flex;
  font-family:"Quicksand";
}

.rn-tweet-stat-num {
  margin-right:5px;
  color:rgba(255, 255, 255, .75);
  font-weight:600;
}

.rn-tweet-stat-tit {
  color:var(--iohud);
  font-weight:300;
}

.rn-tweet-controls {
  width:100%;
  display:flex;
  justify-content:space-around;
}

.rn-tweet-controls-btn {
  color:var(--iohud);
  border:none;
  background:transparent;
  font-size:1.25em;
  cursor:pointer;
  outline:0;
  transition:.4s;
}

.rn-tweet-controls-btn.active {
  color:rgb(247, 0, 119);
}

.rn-tweet-controls-btn.like.active {
  animation:rn-tweet-like-am .4s linear;
}

@keyframes rn-tweet-like-am {
  0% {
    transform:scale(1);
  }
  25% {
    transform:scale(.75);
  }
  50% {
    transform:scale(1.25);
  }
  75% {
    transform:scale(.9);
  }
  100% {
    transform:scale(1);
  }
}

.rn-tweet-comments-comment {
  margin-top:10px;
  width:100%;
  position:relative;
  display:flex;
}

.rn-tweet-comments-comment-mg {
  width:50px;
  height:100%;
  margin-right:10px;
}

.rn-tweet-comments-comment-mg > img {
  height:50px;
  width:50px;
  border-radius:50%;
}

.rn-tweet-comments-comment-content {
  width:calc(100% - 40px);
}

.rn-tweet-comments-comment-content-cri {
  display:flex;
  flex-direction:column;
}

.rn-tweet-comments-comment-content-cri-inf {
  display:flex;
  align-items:center;
  font-family:"Quicksand";
  color:rgba(255, 255, 255, .6);
}

.rn-tweet-comments-comment-content-cri-inf > * {
  margin-left:3px;
  margin-right:3px;
}

.rn-tweet-comments-comment-content-cri-inf-name {
  color:white;
  font-weight:400;
}

.rn-tweet-comments-comment-content-cri-inf-url {
  font-size:.9em;
}

.rn-tweet-comments-comment-content-mat {
  color:rgba(255, 255, 255, .85);
  font-weight:100;
  margin-top:7.5px;
  margin-bottom:10px;
}

.rn-tweet-comments-comment-content-control {
  display:flex;
  width:calc(100% + 90px);
  position:relative;
  left:-75px;
  justify-content:space-around;
}

.rn-tweet-comments-comment-content-control-btn {
  background:transparent;
  border:none;
  color:rgba(255, 255, 255, .5);
  font-size:1.1em;
  cursor:pointer;
  display:flex;
  align-items:center;
  outline:0;
}

.rn-tweet-comments-comment-content-control-btn > span {
  font-size:1em;
  margin-left:5px;
}

.rn-tweet-commat {
  width:calc(100% - 20px);
  height:40px;
  position:relative;
  display:flex;
  align-items:center;
  border-radius:3px;
  padding-left:10px;
  padding-right:10px;
  margin-top:7.5px;
}

.rn-tweet-commat > * {
  outline:0;
  background:transparent;
  border:none;
}

.rn-tweet-commat > input {
  width:calc(100% - 40px);
  height:100%;
  padding:0;
  padding-left:5px;
  padding-right:5px;
  font-size:1em;
  color:rgba(255, 255, 255, .95);
  font-family:"Quicksand";
  font-weight:400;
}

.rn-tweet-commat > button {
  width:30px;
  height:30px;
  border-radius:50%;
  background:blue;
  padding:0;
  color:white;
  font-size:.85em;
  cursor:pointer;
}
