:root {
  --focuscol:#34a1f2;
  --seccol: rgba(255, 255, 255, .45);
}

.rn-account {
  height:100vh;
  display:block;
  flex-direction:column;
  margin-left:auto;
  margin-right:auto;
  width:700px;
  max-width:100vw;
}

.rn-account-info {
  width:100%;
  height:auto;
  padding-bottom:17.5px;
  margin-top:15px;
  overflow:hidden;
  border-radius:3px;
  margin-bottom:10px;
}

.rn-account-bg {
  height:150px;
  width:100%;
  position:relative;
}

.rn-account-bg > img {
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
}

.rn-account-controls {
  height:50px;
  padding-left:10px;
  padding-right:10px;
  width:calc(100% - 20px);
  display:flex;
  align-items:flex-end;
  justify-content:space-between;
  position:relative;
}

.rn-account-controls-avatar {
  height:135px;
  width:135px;
  border-radius:50%;
  position:relative;
}

.rn-account-controls-avatar > img {
  height:100%;
  width:100%;
  object-fit:cover;
  object-position:center;
  border-radius:50%;
}

.rn-account-controls-mat {
  display:flex;
  align-items:center;
  height:100%;
}

.rn-account-controls-mat-btn {
  height:35px;
  min-width:35px;
  margin-left:5px;
  margin-right:5px;
  font-size:1em;
  background:transparent;
  border:1px solid var(--focuscol);
  border-radius:45px;
  color:var(--focuscol);
  cursor:pointer;
  position:relative;
  overflow:hidden;
}

.rn-account-controls-mat-btn.active {
  background:var(--focuscol);
  color:white;
}

.rn-account-controls-mat-btn,
.rn-account-controls-mat-btn:before {
  transition:.4s;
}

.rn-account-controls-mat-btn:not(.icon) {
  width:115px;
}

.rn-account-controls-mat-btn:before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:transparent;
  opacity:0;
}

.rn-account-controls-mat-btn:not(.active):hover:before {
  background:var(--focuscol);
  opacity:.15;
}

.rn-account-controls-mat-btn.active:hover {
  background:red;
}

.rn-account-controls-mat-btn.active:hover {
  border:1px solid transparent!important;
}

.rn-account-info-mat {
  --margin:12.5px;

  position:relative;
  width:calc(100% - var(--margin) * 2);
  margin-left:var(--margin);
  margin-right:var(--margin);
}

.rn-account-info-mat-name {
  color:white;
  font-family:"Roboto";
  -webkit-font-smoothing:antialiased;
  font-weight:600;
  font-size:1.1em;
  margin-top:15px;
  margin-bottom:2.5px;
}

.rn-account-info-mat-url {
  margin-top:0;
  color:var(--seccol);
  font-family:"Quicksand";
  font-weight:400;
}

.rn-account-info-mat-desc {
  font-family:"Roboto";
  -webkit-font-smoothing:antialiased;
  font-weight:400;
  color:white;
  margin-top:10px;
  margin-bottom:10px;
  margin-right:10px;
}

.rn-account-info-mat-addvinfo,
.rn-account-info-mat-follows {
  display:flex;
  align-items:center;
  margin-top:15px;
}

.rn-account-info-mat-addvinfo-item,
.rn-account-info-mat-follows-item {
  --margin:7.5px;

  margin-left:var(--margin);
  margin-right:var(--margin);
  color:var(--seccol);
  font-family:"Quicksand";
  font-size:.975em;
}

.rn-account-info-mat-addvinfo-item > *,
.rn-account-info-mat-follows-item > * {
  --margin:2.5px;

  margin-left:var(--margin);
  margin-right:var(--margin);
}

.rn-account-info-mat-addvinfo-item:first-child,
.rn-account-info-mat-addvinfo-item > *:first-child,
.rn-account-info-mat-follows-item:first-child,
.rn-account-info-mat-follows-item > *:first-child {
  margin-left:0;
}

.rn-account-info-mat-addvinfo-item:last-child,
.rn-account-info-mat-addvinfo-item > *:last-child,
.rn-account-info-mat-follows-item:last-child,
.rn-account-info-mat-follows-item > *:last-child {
  margin-right:0;
}

.rn-account-info-mat-follows-item-num {
  color:white;
  font-weight:600;
  -webkit-font-smoothing:antialiased;
  font-size:1.05em;
}

.rn-account-tweets {
  width:100%;
  margin-top:10px;
  border-radius:3px;
  overflow:hidden;
  padding-bottom:10px;
}

.rn-account-tweets-nav {
  display:flex;
  height:45px;
  width:100%;
  position:relative;
}

.rn-account-tweets-nav-btn {
  cursor:pointer;
  width:100%;
  background:transparent;
  border:none;
  border-bottom:1px solid transparent;
  color:var(--focuscol);
  font-family:"Roboto";
  font-weight:600;
  -webkit-font-smoothing:antialiased;
  font-size:1em;
  position:relative;
  transition:.4s;
}

.rn-account-tweets-nav-btn:before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition:.3s;
  opacity:0;
  background:var(--focuscol);
}

.rn-account-tweets-nav-btn:hover:before {
  opacity:.075;
}

.rn-account-tweets-nav-btn:active:before {
  transition:.2s;
  opacity:.1;
}

.rn-account-tweets-nav-btn.active {
  border-bottom:1px solid var(--focuscol);
}

.rn-account-tweets-mat-item {
  width:100%;
  padding:15px;
  border-radius:3px;
  display:flex;
  margin-bottom:7.5px;
  position:relative;
}

.rn-account-tweets-mat-item > * {
  height:100%;
}

.rn-account-tweets-mat-item-mg {
  width:50px;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:flex-start;
}

.rn-account-tweets-mat-item-mg > img {
  height:50px;
  width:50px;
  border-radius:50%;
  cursor:pointer;
}

.rn-account-tweets-mat-item-content {
  width:calc(100% - 90px);
  padding-left:10px;
}

.rn-account-tweets-mat-item-content-info {
  display:flex;
  align-items:center;
  color:var(--seccol);
  font-weight:300;
  font-family:"Quicksand";
  font-size:1.05em;
}

.rn-account-tweets-mat-item-content-info > * {
  margin-left:2.5px;
  margin-right:2.5px;
}

.rn-account-tweets-mat-item-content-info > *:first-child {
  margin-left:0;
}

.rn-account-tweets-mat-item-content-info > *:last-child {
  margin-right:auto;
}

.rn-account-tweets-mat-item-content-info-name {
  color:white;
  font-weight:600;
  font-family:"Roboto";
  font-size:1.05em;
  -webkit-font-smoothing:antialiased;
}

.rn-account-tweets-mat-item-content-mat {
  font-weight:200;
  font-family:"Quicksand";
  margin-right:15px;
  color:rgba(255, 255, 255, .95);
  margin-top:5px;
  margin-bottom:10px;
}

.rn-account-tweets-mat-item-content-mat-controls {
  display:flex;
  align-items:center;
  font-size:1.05em;
}

.rn-account-tweets-mat-item-content-mat-controls-btn {
  color:var(--seccol);
  background:transparent;
  border:none;
  font-size:1em;
  padding:0;
  cursor:pointer;
  margin-left:10px;
  margin-right:10px;
}

.rn-account-tweets-mat-item-content-mat-controls-like.active {
  animation:postliked-am .3s ease-in-out;
  animation-fill-mode:forwards;
}

@keyframes postliked-am {
  0% {
    transform:scale(1);
    opacity:1;
    color:rgba(255, 255, 255, .7);
  }
  50% {
    transform:scale(2);
    opacity:.5;
    color:rgba(255, 255, 255, .7);
  }
  100% {
    transform:scale(1);
    opacity:.8;
    color:rgb(247, 0, 119);
  }
}

.rn-account-tweets-mat-item-content-mat-controls-btn > * {
  margin-left:2.5px;
  margin-right:2.5px;
}

.rn-account-tweets-mat-item-content-mat-controls-btn > *:first-child,
.rn-account-tweets-mat-item-content-mat-controls-btn:first-child {
  margin-left:0;
}

.rn-account-tweets-mat-item-content-mat-controls-btn > *:last-child,
.rn-account-tweets-mat-item-content-mat-controls-btn:last-child {
  margin-right:0;
}
