.rn-search {
	height:calc(100% - 10px);
	width:500px;
	max-width:100%;
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	overflow:visible;
	padding-top:10px;
}

.rn-search-mat
.rn-search-block {
	width:100%;
	border-radius:3px;
}

.rn-search-mat {
	margin-bottom:30px;
	padding-top:15px;
	padding-bottom:15px;
	display:flex;
	justify-content:center;
	transform:translateY(calc(-100% - 10px));
	animation:rn-search-initam .2s .5s ease;
	animation-fill-mode:forwards;
}

@keyframes rn-search-initam {
	from {
		transform:translateY(calc(-100% - 10px));
	}
	to {
		transform:translateY(0px);
	}
}

.rn-search-mat-search {
	width:465px;
	max-width:90vw;
	/* 475px - 10px = 465px */
	height:32.5px;
	padding-left:5px;
	padding-right:5px;
	border-radius:45px;
	display:flex;
	align-items:center;
}

.rn-search-mat-search-icon,
.rn-search-mat-search-mat {
	height:100%;
	transition:.4s;
	color:rgba(255, 255, 255, .5);
}

.rn-search-mat-search-icon {
	width:40px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.rn-search-mat-search-mat {
	border:none;
	padding:0;
	width:calc(100% - 40px);
	background:transparent;
	font-size:1em;
	font-weight:200;
}

.rn-search-mat-search-mat:valid {
	color:rgba(255, 255, 255, .85);
}

.rn-search-block {
	height:auto;
	margin-top:15px;
}

.rn-search-block-split {
	width:100%;
	height:2px;
}

.rn-search-block-title {
	--padding:12.5px;

	height:45px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding-left:var(--padding);
	padding-right:var(--padding);
	width:calc(100% - var(--padding) * 2);
	color:white;
	font-size:1.2em;
	font-family:"Quicksand";
	font-weight:600;
	cursor:pointer;
}

.rn-search-block-title-mat {
	position:relative;
	bottom:-1px;
}

.rn-search-block-title-status {
	color:rgba(255, 255, 255, .65);
	cursor:pointer;
	position:relative;
	transition:.4s;
	transform:rotate(180deg);
}

.rn-search-block-title-status.opened {
	transform:rotate(0deg);
}

.rn-search-block-title-status:before {
	--size:30px;

	content:'';
	height:var(--size);
	width:var(--size);
	border-radius:50%;
	position:absolute;
	top:50%;
	left:50%;
	margin-right:50%;
	transform:translate(-50%, -50%) scale(.75);
	opacity:0;
}

.rn-search-block-title-status,
.rn-search-block-title-status:before {
	transition:.15s;
}

.rn-search-block-title-status:hover:before,
.rn-search-block-title:hover > .rn-search-block-title-status:before {
	transform:translate(-50%, -50%) scale(1);
	opacity:.2;
}

.rn-search-block-disp {
	display:none!important;
}

.rn-search-block-disp.opened {
	display:block!important;
}

.rn-search-block-disp-item,
.rn-search-block-disp-titem {
	--padding:10px;

	width:calc(100% - var(--padding) * 2);
	padding-top:10px;
	padding-bottom:10px;
	padding-left:var(--padding);
	padding-right:var(--padding);
	display:flex;
	position:relative;
}

.rn-search-block-disp-item-image,
.rn-search-block-disp-item-content {
	height:100%;
}

.rn-search-block-disp-item-image {
	width:40px;
}

.rn-search-block-disp-item-image > img {
	width:40px;
	height:40px;
	border-radius:50%;
}

.rn-search-block-disp-item-content {
	width:calc(100% - 40px - 10px);
	margin-left:10px;
}

.rn-search-block-disp-item-content-creator {
	display:flex;
	justify-content:space-between;
}

.rn-search-block-disp-item-content-creator-name {
	font-family:"Quicksand";
	font-weight:500;
	color:rgba(255, 255, 255, .95);
	display:flex;
	align-items:center;
}

.rn-search-block-disp-item-content-creator-url {
	color:rgba(255, 255, 255, .475);
	font-size:.95em;
	margin-top:5px;
	font-family:"Quicksand";
	font-weight:200;
}

.rn-search-block-disp-item-content-creator-flbtn {
	height:32.5px;
    width:105px;
    border-radius:45px;
    background:transparent;
    font-family:"Roboto";
    font-weight:600;
    font-size:1em;
    line-height:30px;
    cursor:pointer;
    -webkit-font-smoothing:antialiased;
    -o-transition:.4s;
    position:relative;
    transition:.4s;
}

.rn-search-block-disp-item-content-creator-flbtn.active {
	color:white;
}

.rn-search-block-disp-item-content-creator-flbtn.active:hover {
	background:red;
	border:1px solid transparent;
}

.rn-search-block-disp-item-content-mat {
	margin-top:10px;
	margin-bottom:7.5px;
	font-family:"Quicksand";
	font-weight:400;
	color:rgba(255, 255, 255, .85);
	font-size:.975em;
}

.rn-search-block-disp-titem-mg,
.rn-search-block-disp-titem-mg > img {
	width:45px;
}

.rn-search-block-disp-titem-mg > img {
	height:45px;
	object-fit:cover;
	object-position:center;
	border-radius:50%;
}

.rn-search-block-disp-titem-mg-content {
	width:calc(100% - 45px - 10px);
	padding-left:10px;
	display:flex;
	position:relative;
	justify-content:flex-start;
	align-items:flex-start;
	flex-direction:column;
}

.rn-search-block-disp-titem-mg-content > * {
	position:relative;
	z-index:4;
}

.rn-search-block-disp-titem-mg-content-redirect {
	height:100%;
	width:100%;
	cursor:pointer;
	z-index:2;
	position:absolute;
	top:0;
	left:0;
}

.rn-search-block-disp-titem-mg-content-creatorinf {
	display:flex;
	align-items:center;
	color:rgba(255, 255, 255, .5);
	font-family:"Quicksand";
	font-weight:300;
}

.rn-search-block-disp-titem-mg-content-creatorinf > * {
	margin-right:5px;
}

.rn-search-block-disp-titem-mg-content-creatorinf-name {
	color:white;
	font-family:"Quicksand";
	font-weight:400;
	display:flex;
	align-items:center;
}

.rn-search-block-disp-titem-mg-content-mat {
	font-weight:200;
	font-family:"Quicksand";
	color:rgba(255, 255, 255, .95);
	margin-bottom:5px;
	margin-top:5px;
}

.rn-search-block-disp-titem-mg-content-controls {
	display:flex;
	margin-top:5px;
	margin-bottom:3px;
	align-items:center;
}

.rn-search-block-disp-titem-mg-content-controls-btn {
	color:rgba(255, 255, 255, .6);
	background:transparent;
	border:none;
	font-size:1.1em;
	display:flex;
	align-items:center;
	padding:0;
	margin-right:20px;
	cursor:pointer;
}

.rn-search-block-disp-titem-mg-content-controls-btn > span {
	margin-left:6px;
	font-size:.9em;
	font-family:"Quicksand";
	font-weight:100;
}

.rn-search-block-disp-titem-mg-content-controls-btn.like.active {
	color:red;
}

.rn-search-err {
	font-weight:200;
	font-family:"Quicksand";
	color:rgba(255, 255, 255, .5);
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:-10px;
}