:root {
	--navheight:45px;
}

.rn-followers {
	--border-radius:3px;

	height:100vh;
	/* or height:100% if you don't need to hide BACK_BAR */
	position:relative;
	display:flex;
	flex-direction:column;
	margin-left:auto;
	margin-right:auto;
	border-bottom-right-radius:var(--border-radius);
	border-bottom-left-radius:var(--border-radius);
}

.rn-followers.backable > .rn-followers-users {
	height:calc(100% - var(--navheight) * 2)!important;
}

.rn-followers-backnav {
	--padding:10px;

	display:none;
	align-items:center;
	justify-content:flex-start;
	padding-left:var(--padding);
	padding-right:var(--padding);
	visibility:hidden;
	opacity:0;
	width:calc(100% - var(--padding) * 2);
	height:var(--navheight);
	border-top:1px solid black;
	cursor:pointer;
}

.rn-followers-backnav-btn {
	background:transparent;
	border:none;
	font-size:1em;
	position:relative;
	cursor:pointer;
}

.rn-followers-backnav-btn:before {
	content:'';
	position:absolute;
	top:50%;
	left:50%;
	margin-right:50%;
	height:30px;
	width:30px;
	opacity:0;
	border-radius:50%;
	transition:.2s;
	transform:translate(-50%, -50%) scale(.65);
}

.rn-followers-backnav-btn:hover:before {
	opacity:.2;
	transform:translate(-50%, -50%) scale(1);
}

.rn-followers-backnav-mg {
	--size:calc(var(--navheight) / 100 * 75);

	border-radius:50%;
	height:var(--size);
	width:var(--size);
	margin-left:10px;
}

.rn-followers.backable > .rn-followers-backnav {
	display:flex;
	visibility:visible;
	opacity:1;
}

.rn-followers-menu {
	height:var(--navheight);
	width:100%;
	display:flex;
	position:relative;
	border-bottom:2px solid rgba(0, 0, 0, .3);
	z-index:5;
}

.rn-followers-menu-btn {
	--borderth:2px;

	cursor:pointer;
	flex-grow:1;
    background:transparent;
    border:none;
    border-bottom:1px solid transparent;
    height:calc(100% + var(--borderth)); 
    font-family:"Roboto";
    font-weight:600;
    -webkit-font-smoothing:antialiased;
    font-size:1em;
    position:relative;
    border-bottom:var(--borderth) solid transparent;
    transition:.2s;
}

.rn-followers-menu-btn:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	transition:.2s;
}

.rn-followers-menu-btn:hover:before {
	opacity:.075;
}

.rn-followers-menu-btn:active:before {
	transition:.1s;
	opacity:.2;
}

.rn-followers-users {
	height:calc(100% - var(--navheight));
	width:100%;
	overflow:scroll;
	position:relative;
}

.rn-followers-users-user {
	padding-top:12.5px;
	padding-bottom:12.5px;
	padding-left:15px;
	padding-right:15px;
	width:calc(100% - 30px);
	position:relative;
	display:flex;
}

.rn-followers-users-user-image,
.rn-followers-users-user-image-mat {
	width:50px;
}

.rn-followers-users-user-image,
.rn-followers-users-user-content {
	height:100%;
}

.rn-followers-users-user-image {
	height:100%;
	position:relative;
}

.rn-followers-users-user-image-mat {
	height:50px;
	border-radius:50%;
}

.rn-followers-users-user-content {
	height:100%;
}

.rn-followers-users-user-content {
	width:calc(100% - 65px);
	margin-left:15px;
}

.rn-followers-users-user-content-name {
	display:flex;
	justify-content:space-between;
	margin-top:-5px;
	align-items:center;
}

.rn-followers-users-user-content-mat-name {
	display:flex;
	align-items:center;
}

.rn-followers-users-user-content-mat-url {
	margin-top:10px;
	font-weight:400;
	font-family:"Quicksand";
	font-size:.95em;
}

.rn-followers-users-user-content-controls-btn {
	height:32.5px;
    width:105px;
    border-radius:45px;
    background:transparent;
    font-family:"Roboto";
    font-weight:600;
    font-size:1em;
    line-height:30px;
    cursor:pointer;
    -webkit-font-smoothing:antialiased;
    -o-transition:.4s;
    position:relative;
}

.rn-followers-users-user-content-controls-btn:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	opacity:0;
}

.rn-followers-users-user-content-controls-btn,
.rn-followers-users-user-content-controls-btn:before {
	transition:.4s;
}

.rn-followers-users-user-content-controls-btn:not(.active):hover:before {
	opacity:.1;
}

.rn-followers-users-user-content-controls-btn.active {
	color:white;
}

.rn-followers-users-user-content-controls-btn.active:hover {
	background:red;
	border:1px solid transparent;
}

.rn-followers-users-user-content-mat {
	font-family:"Quicksand";
	font-weight:300;
	margin-top:7.5px;
	margin-bottom:0;
}

.rn-followers-split {
	width:100%;
	height:2px;
	opacity:.75;
}